.status {
  margin-bottom: 10px;
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.reset {
  margin-top: 20px;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}
